{% extends 'base.html.twig' %}

{% block title %}Crear Reserva{% endblock %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/formularios/reserva/form.css') }}">

{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="h1 text-center mt-4">Estas en Crear reserva</h1>
    {{ form(formulario) }}
    {% for message in app.flashes('error') %}
       <div class="alert-danger alert">* {{ message }}</div>
    {% endfor %} 
    <div class="campos d-flex flex-row gap-3">
    {# <h1>Campos:</h1> #}
        {% for campo in campos|sort %}
        {% if campo.deporte == app.user.equipo.deporte %}
         <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ asset("img/"~ campo.deporte ~".jpg")}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">{{ campo.nombre }}</p>
                    </div>
            </div>
        {% endif %}
        
        {% endfor %}
    </div>

    {{ include("reserva/show.html.twig") }}
    
    {% for admi in admin %}
        {{ admi.nombre}}
    {% endfor %}
  
    
    
</div>

{% endblock %}

{% block scripts %}
 <!-- <script src="{{ asset('js/user/solicitarEquipo.js') }}" type="text/javascript"></script> -->
{% endblock %}