{% extends 'base.html.twig' %}

{% block title %}Crear Reserva{% endblock %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/formularios/reserva/form.css') }}">
<style>
    .nombre{
        cursor: pointer;
    }
    .nombre:hover{
        color: blue;
    }
</style>
{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="h1 text-center mt-4">Estas son las reservas de tu equipo:</h1>
        {% if reservas|length == 0 %}
                <div class="reservas mt-4">
                    <h1 class="alert-info alert h3">No hay reservas :(</h1>
                </div>
        {% else %} 

        <table class="table table-dark my-3">

            <thead>
                <th>Campo</th>
                <th>Profesor</th>
                {# <th>Fecha creación</th> #}
                <th>Ver tiempo</th>
                <th>Fecha Reserva</th>
                <th>Fecha caduca</th>
              
            </thead>
            <tbody>
            {% for reserva in reservas %}
            {% if _fecha.isAct(reserva.getFecha()) %}
                <tr id="{{ reserva.id }}">
                    <td>{{ reserva.getIdCampo().nombre}}</td>
                    <td>{{ reserva.getIdProfesor().email }}</td>
                    {# <td>{{ reserva.getFechaCreacion().format('Y-m-d H:i:s') }}</td> #}
                    <td onclick="ir(event)" value="{{ reserva.getId() }}" class="nombre">Ver</td>
                    <td>{{ reserva.getFecha().format('Y-m-d H:i:s') }}</td>
                    <td>{{ reserva.getFechaCaduca().format('Y-m-d H:i:s') }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>

        </table>
        {% endif %}

</div>

{% endblock %}

{% block scripts %}
<script>
  function ir(e){
        let id = e.target.getAttribute('value');
        window.location.href = "http://127.0.0.1:8000/reserva/showTiempo/"+id;
    }
</script>
 <!-- <script src="{{ asset('js/user/solicitarEquipo.js') }}" type="text/javascript"></script> -->
{% endblock %}