 {% if reservas|length == 0 %}
        <div class="reservas mt-4">
            <h1 class="alert-info alert h3">No hay reservas :(</h1>
        </div>
{% else %} 

<table class="table table-dark my-3">

    <thead>
        <th>Campo</th>
        <th>Profesor</th>
        <th>Fecha creación</th>
        <th>Fecha Reserva</th>
        <th>Fecha caduca</th>
        <th>Cancelar</th>
    </thead>
    <tbody>
    {% for reserva in reservas %}
        <tr id="{{ reserva.id }}">
            <td>{{ reserva.getIdCampo().nombre}}</td>
            <td>{{ reserva.getIdProfesor().nombre }}</td>
            <td>{{ reserva.getFechaCreacion().format('Y-m-d H:i:s') }}</td>
            <td>{{ reserva.getFecha().format('Y-m-d H:i:s') }}</td>
            <td>{{ reserva.getFechaCaduca().format('Y-m-d H:i:s') }}</td>
            <td> <button onclick="cancelar(event)" value="{{ reserva.id }}" class="btn btn-danger" >Cancelar</button></td>
        </tr>
    {% endfor %}
    </tbody>

</table>

<script>
    function cancelar(e){
        let id = e.target.getAttribute('value');
        $.post("http://127.0.0.1:8000/reserva/removeReserva",{
            "id":id
        },
        function (data, textStatus, jqXHR) {
              console.log(data)
              if(data.status == "exito"){
                $('#'+id).remove();
              }
        },);
    }
</script>
{% endif %}
