<div class="nav">
    <h1 class="logo">VereDeportes</h1>
    <div class="menu">
        <a href="{{ path('app_login') }}">Login</a>
        <a href="{{ path('register') }}">Register</a>
        {% if email %}

            {% if admin %}
                <span class="verde">{{email}}</span>
            {% else %}
                <span class="azul">{{email}}</span>
            {% endif %}
        <a href="{{ path('app_logout') }}">Log out</a>
        {% endif %}
    </div>
</div>
{% if app.user %}

<div class="nav">
    <div class="menu py-3">
        {% if app.user.roles[0] == "ROLE_ADMIN" %}
        <a href="{{ path('adminReserva') }}">Vigilancia</a>
        <a href="{{ path('createLiga') }}">Crear Liga</a>
        <a href="{{ path('equipo') }}">Crear Equipo</a>
        <a href="{{ path('showLiga') }}">Ver Ligas</a>
        {% endif %} 

        {% if app.user.roles[0] == "ROLE_USER" and app.user.capitan == 0 %}
        <a href="{{ path('solicitar') }}">Entrar a Equipo</a>
        <a href="{{ path('showLiga') }}">Ver Ligas</a>
        {% endif %} 

        {% if app.user.roles[0] == "ROLE_USER" and app.user.capitan == 1 %}
        <a href="{{ path('createReserva') }}">Hacer Reserva</a>
        <a href="{{ path('solicitarLiga') }}">Solicitar Liga</a>
        <a href="{{ path('controlSolicitud') }}">Control Equipo</a>
        <a href="{{ path('showLiga') }}">Ver Ligas</a>
        {% endif %} 

    </div>
</div>

{% endif %}
