{% extends 'base.html.twig' %}

{% block title %}Crear Liga{% endblock %}

{% block styles %}

{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/formularios/liga/form.css') }}">
{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="h1 text-center mt-4">Estas en Crear Liga</h1>
    {{ form(formulario) }}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">* {{ message }}</div>
    {% endfor %}

    <table class="table table-dark">
        <legend>Ligas</legend>
        <thead>
            <th>Nombre de la liga</th>
            <th>Deporte</th>
            <th>Equipos que han solicitado</th>
            <th>Dia propuesto</th>
            <th>Sabado que empezará</th>
            <th>Termina la liga</th>
            <th class="text-center">Comenzar la nueva liga</th>
            <th class="text-center">Eliminar liga</th>
            <th class="text-center">Cambiar Fecha</th>


        </thead>
        <tbody>
            {% for liga in ligas %}
            <tr>
                <td class="text-warning">{{liga.nombreLiga}} <span class="badge bg-primary">{{liga.getEquipos() | length}}</span></td>
                <td>{{liga.deporte | upper}}</td>
                <td style="overflow: scroll; overflow-x:hidden; height: 100px">
                    {% for equipo in liga.getEquipos() %}
                        <span class="badge badge-pill badge-primary" style="background-color:orange; color:black" value="{{ equipo.id }}">{{ equipo.nombre}}</span>
                    {% endfor %}
                </td>
                <td style="width: 150px">{{ liga.fecha.format('Y-m-d') }}</td>
                <td style="width: 150px">{{ _fecha.nextSaturday(liga.fecha).format('Y-m-d') }}</td>
                {% if liga.getFechaTermina() == null %}
                <td style="width: 150px">Max: {{ _fecha.fechaMax(liga.getFecha()).format('Y-m-d')}}</td>
                {% else %}
                <td style="width: 150px">{{ liga.getFechaTermina().format('Y-m-d') }}</td>
                {% endif %}
                
                {% if liga.status == 0 %}
                {% if _fecha.isAct(_fecha.nextSaturday(liga.fecha)) %}
                 <td class="h-100"><button class="btn btn-primary" value="{{ liga.id }}" onclick="comenzar(event)">Comenzar</button></td>
                 {% else %}
                 <td style="color:red">No puedes comenzar una liga con un sabado pasado</td>
                {% endif %}
                
               
                <td class="h-100"><button class="btn btn-danger" value="{{ liga.id }}" onclick="eliminar(event)">Eliminar</button></td>
                <td class="h-100"><button class="btn" style="background-color:orange; color:black" value="{{ liga.id }}" onclick="cambiar(event)">Cambiar_Fecha</button>
                 <input class="mt-1" style="width: 140px" type="date" id="{{ liga.id }}" value="{{ liga.fecha.format('Y-m-d') }}">
                </td>
                {% else %}
                <td class="fw-bold" style="color: rgb(21, 252, 0)">Ya esta en marcha</td>
                <td></td>
                <td></td>

                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="errores">

    </div>
  
</div>

{% endblock %}

{% block scripts %}
 <script>
     function comenzar(e){
        console.log('hola');
        var id = e.target.getAttribute('value');
        window.location.href = 'http://127.0.0.1:8000/ligas/startLiga/'+id;
     }
      function eliminar(e){
        console.log('hola');
        var id = e.target.getAttribute('value');
        window.location.href = 'http://127.0.0.1:8000/ligas/removeLiga/'+id;
     }

    function cambiar(e){
        var id = e.target.getAttribute('value');
        var fecha = $("#"+id).val();
        window.location.href = 'http://127.0.0.1:8000/ligas/changeLiga/'+id+"/"+fecha;
     }
     

 </script>
{% endblock %}