{% extends 'base.html.twig' %}

{% block title %}Crear Liga{% endblock %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/formularios/liga/form.css') }}">
<style>
.nombre:hover{
    color:blue;
}
.nombre{
    cursor:pointer;
}
</style>
{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="h1 text-center mt-4">Estas en Ver Liga</h1>

    <table class="table table-dark">
        <legend>Ligas Activas</legend>
        <thead>
            <th>Nombre de la liga</th>
            <th>Deporte</th>
            <th>Equipos que participan</th>
        </thead>
        <tbody>
            {% for liga in ligas %}
            {% if liga.status %}
            <tr>
                <td class="nombre" onclick="ir(event)" value="{{ liga.getId() }}">{{liga.nombreLiga}}</td>
                <td>{{liga.deporte | upper}}</td>
                 <td style="overflow: scroll; overflow-x:hidden; height: 100px">                            
                    {% for equipo in liga.getEquipos() %}
                        <span class="badge badge-pill badge-primary" style="background-color:orange; color:black" value="{{ equipo.id }}">{{ equipo.nombre}}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
           
            {% endfor %}
        </tbody>
    </table>
    {% if ligasact|length == 0 %}
    <div class="alert alert-primary">No hay ligas activas :(</div>
    {% endif %}
  
</div>

{% endblock %}

{% block scripts %}
 <script>
     {# function comenzar(){
        $.post("http://127.0.0.1:8000/ligas/startLiga", data,
            function (data, textStatus, jqXHR) {
                console.log(data);
            },
        );
     } #}
    function ir(e){
        console.log('yee')
        let id = e.target.getAttribute('value');
        window.location.href = "http://127.0.0.1:8000/ligas/show/"+id;

    }

     

 </script>
{% endblock %}