{% extends '/login/index.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Formulario de register</h1>
    {{ form(formulario) }}
    <div class="text-center mt-2">
        <a href="{{ path('app_login') }}" class="text-center">Ya tienes cuenta?</a>
        <a href="{{ path('home') }}" class="ms-3 mt-4">Ir home</a>
    </div>
    
    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
        {{ message }}
        </div>
    {% endfor %}
      {% for message in app.flashes('error') %}
        <div class="alert alert-warning">
        {{ message }}
        </div>
    {% endfor %}
    
{% endblock %}