
{% extends 'base.html.twig' %}

{% block title %}Crear Campo{% endblock %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/formularios/base.css') }}">
{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    {{ form(formulario) }}

    <div class="equipos">
        {{ include("equipo/tablaEquipos.html.twig", equipos) }}
    </div>

</div>

{% endblock %}
