
{% extends 'base.html.twig' %}

{% block title %}Ver Equipo{% endblock %}

{% block styles %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/formularios/base.css') }}">
<style>
.nombre:hover{
    color:blue;
}
.nombre{
    cursor:pointer;
}
</style>
{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    
    <div class="alert alert-success mt-4" role="alert">
        <h4 class="alert-heading">Nombre del equipo: <strong>{{ equipo.nombre }}</strong></h4>
        <hr>
        <p>El capitan es <strong>{{ capitan.getNombre() }} ({{ capitan.getEmail() }})</strong></p>
         <p>Deporte: <strong>{{ capitan.getEquipo.getDeporte | upper }}</strong></p>
    </div>
    <table class="table table-dark mt-3">
        <thead>
            <th>Jugador</th>
            <th>Correo</th>
            <th>Capitan</th>
        </thead>
        <tbody>
            {% for jugador in equipo.getJugadores() %}
                <tr>
                    <td>{{ jugador.nombre }}</td>
                    <td>{{ jugador.email }}</td>
                    <td> 
                    {% if jugador.id == capitan.id %}
                    "Es capitan"
                    {% else %}
                    "No es capitan"
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
          
        </tbody>
    </table>

    {# Ver reservas  #}

    <h1 class="mt-5">Reservas activas</h1>
      {% if reservas|length == 0 %}
        <div class="alert alert-primary">* No hay reservas activas :(</div>
     {% else %}
            
      <table class="table table-dark my-3">
            <thead>
                {# <th>Id</th> #}
                <th>Campo</th>
                <th>Profesor</th>
                {# <th>Fecha creación</th> #}
                <th>Ver Tiempo</th>
                <th>Fecha Reserva</th>
                <th>Fecha caduca</th>
            </thead>
            <tbody>
            {% for reserva in reservas %}
                {% if _fecha.isAct(reserva.getFecha()) %}
            
                <tr id="{{ reserva.id }}">
                    {# <th>{{ reserva.id }}</th> #}
                    <td>{{ reserva.getIdCampo().nombre}}</td>
                    <td>{{ reserva.getIdProfesor().nombre }}</td>
                    {# <td>{{ reserva.getFechaCreacion().format('Y-m-d H:i:s') }}</td> #}
                    <td onclick="irtiempo(event)" value="{{ reserva.getId() }}" class="nombre">Ver</td>
                    <td>{{ reserva.getFecha().format('Y-m-d H:i:s') }}</td>
                    <td>{{ reserva.getFechaCaduca().format('Y-m-d H:i:s') }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>
      
        {% endif %}

    {# Ver partidos #}

     <h1 class="mt-5">Partidos activos</h1>
      {% if partidos|length == 0 %}
        <div class="alert alert-primary">* No hay partidos activos :(</div>
     {% else %}
            
      <table class="table table-dark my-3">
        <thead>
            <th>Liga</th>
            <th>Local</th>
            <th>Visitante</th>
            <th>Resul Local</th>
            <th>Resul Visitante</th>
            <th>Profesor que vigila</th>
            <th>Campo</th>
            <th>Comienza</th>
            <th>Finaliza</th>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <th>{{partido.getIdLiga().getNombreLiga()}}</th>
                {% if partido.equipo1 == equipo.id %}
                 <td class="nombre" style="color:orange" onclick="ir(event)" value="{{ partido.equipo1 }}">{{ligarepository.getEquipo(partido.equipo1).nombre}}</td>
                {% else %}
                <td class="nombre" onclick="ir(event)" value="{{ partido.equipo1 }}">{{ligarepository.getEquipo(partido.equipo1).nombre}}</td>
                {% endif %}
                
                {% if partido.equipo2 == equipo.id %}
                 <td class="nombre" style="color:orange"  onclick="ir(event)" value="{{ partido.equipo2 }}">{{ligarepository.getEquipo(partido.equipo2).nombre}}</td>
                 {% else %}
                  <td class="nombre" onclick="ir(event)" value="{{ partido.equipo2 }}">{{ligarepository.getEquipo(partido.equipo2).nombre}}</td>
                {% endif %}
                
    
               
                <td>{% if partido.getResulEquipo1() == null %}
                        <span style="color:red">No hay resultado<span>
                    {% else %}
                       <span style="color:green">{{ partido.getResulEquipo1()}}</span>
                    {% endif %}
                </td>
                 <td>{% if partido.getResulEquipo2() == null %}
                        <span style="color:red">No hay resultado<span>
                     {% else %}
                       <span style="color:green">{{ partido.getResulEquipo2()}}</span>
                    {% endif %}
                </td>
                <td>{{ partido.getIdProfesor().nombre }}</td>
                <td>{{ partido.getIdCampo().nombre }}</td>
                <td>{{ partido.getFechaPartido().format('Y-m-d H:i:s') }}</td>
                <td>{{ partido.getFechaAcaba().format('Y-m-d H:i:s') }}</td>
                
            </tr>
        {% endfor %}
         
        </tbody>

        </table>
      
        {% endif %}
        


    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">* {{message}}</div>
        
    {% endfor %}
    

</div>

<script>

    function ir(e){
        console.log('yee')
        let id = e.target.getAttribute('value');
        window.location.href = "http://127.0.0.1:8000/equipo/showEquipo/"+id;

    }
    function irtiempo(e){
        let id = e.target.getAttribute('value');
        window.location.href = "http://127.0.0.1:8000/reserva/showTiempo/"+id;
    }

</script>
{% endblock %}

